.DS_Store
.monitor
.*.swp
.nodemonignore
releases
*.log
*.err
fleet.json
public/browserify
bin/*.json
.bin
build
compile
.lock-wscript
coverage

node_modules/*
!node_modules/camelize
!node_modules/xtend
!node_modules/is-error
!node_modules/string-template
